/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

	html {
	    font-size: 15px;
	}

	.menu-toggle{
		display: none;
	}

	nav#menu li.nav-item {
	    width: auto;
	    text-align: right;
	    border-top: 0px;
	}

}